@import "tailwindcss";

h1 {
  font-size: 3em;
  font-weight: bold;
}

table,
thead,
th,
tr,
td {
  display: flexbox;
  border: 1px solid;
  padding: 15px;
  text-align: center;
  margin-bottom: 25px;
}